In [4]:
import pickle
import pandas as pd

In [2]:
pickle_name = "sample_merged_full_10k"
base_dir = "/home/user/core/data"

In [5]:
# 保存したDataFrameの読み込み
with open(f"{base_dir}/{pickle_name}.pkl", "rb") as f:
    df = pickle.load(f)

* 疎な特徴量は、数値情報
* 密な特徴量は、文字かつ区分がある情報
* 密で長さの変化する特徴量は、自己紹介文のように自由に記述可能な文や興味など複数項目を選択可能な特徴量

In [6]:
# Identify sparse, dense, and variable-length dense features
sparse_features = []
dense_features = []
varlen_dense_features = []

for column in df.columns:
    if pd.api.types.is_numeric_dtype(df[column]):
        sparse_features.append(column)
    elif pd.api.types.is_string_dtype(df[column]):
        if column.endswith('_user') or column.endswith('_target'):
            if column.startswith('interests') or column.startswith('self_introduction'):
                varlen_dense_features.append(column)
            else:
                dense_features.append(column)
        else:
            dense_features.append(column)

In [8]:
# Extract only sparse features from the dataframe
sparse_df = df[sparse_features]
sparse_df.head

<bound method NDFrame.head of         user_id  target_id  rating  salary_target  salary_user
0             1       8627       0       11650000      8160000
1             1      18213       0        7690000      8160000
2             1      18859       1        4780000      8160000
3             1      23263       0        3380000      8160000
4             1      36543       1        6980000      8160000
...         ...        ...     ...            ...          ...
108557     9999      70344       0       12020000      4600000
108558     9999      78152       0        9980000      4600000
108559     9999      78622       1       10030000      4600000
108560     9999      82549       0       10070000      4600000
108561     9999      93888       0        9770000      4600000

[108562 rows x 5 columns]>

In [10]:
# Extract specific sparse features: user_id, target_id, rating
specific_sparse_df = sparse_df[['user_id', 'target_id', 'rating']]
specific_sparse_df

        user_id  target_id  rating
0             1       8627       0
1             1      18213       0
2             1      18859       1
3             1      23263       0
4             1      36543       1
...         ...        ...     ...
108557     9999      70344       0
108558     9999      78152       0
108559     9999      78622       1
108560     9999      82549       0
108561     9999      93888       0

[108562 rows x 3 columns]